@font-face {
  font-family: Montserrat;
  src: local(""), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

$color-white: #ffffff;
$color-light-blue: #ecf9f9;

* {
  margin: 0;
  padding: 0;
}

.result {
  width: 280px;
  background-color: $color-white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: auto;
}

.main {
  margin: auto;
  width: 280px;
  height: 30px;
  outline: none;
  background-color: $color-white;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 16px;
  // display: flex;
  // justify-content: center;
}

.svr {

  position: relative;
}
.arrow {
  background-image: url(../svg/Chevron.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 200px;
}

body {
  background-color: $color-light-blue;
}

.inp {
  width: 275px;
  height: 40px;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.inp[placeholder] {
  font-family: "Montserrat";
  font-size: 14px;
  padding-left: 5px;
}
